[submodule "20_ROS/src/Robots"]
	path = 20_ROS/src/Robots
	url = https://github.com/orka375/eta_robots.git
[submodule "20_ROS/src/RMF"]
	path = 20_ROS/src/RMF
	url = https://github.com/orka375/eta_rmf.git
[submodule "20_ROS/src/Base"]
	path = 20_ROS/src/Base
	url = https://github.com/orka375/eta_base.git
[submodule "20_ROS/src/Gz"]
	path = 20_ROS/src/Gz
	url = https://github.com/orka375/eta_gz.git
[submodule "20_ROS/src/Interface"]
	path = 20_ROS/src/Interface
	url = https://github.com/orka375/tc_ros2_itf.git
