<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:include filename="$(find beckhoff_ads_bringup)/urdf/beckhoff_bot/beckhoff_ads_interfaces.ros2_control.xacro"/>

    <xacro:macro name="beckhoff_bot_ros2_control" params="
                name
                mock_hardware:=false
                mock_sensor_commands:=false"
                >

        <ros2_control name="${name}" type="system">
        <hardware>
            <xacro:if value="${mock_hardware}">
                <plugin>mock_components/GenericSystem</plugin>
                <param name="mock_sensor_commands">${mock_sensor_commands}</param>
            </xacro:if>
            <xacro:unless value="${mock_hardware}">
                <plugin>beckhoff_ads_hardware_interface/BeckhoffADSHardwareInterface</plugin>
                <param name="plc_ip_address">192.168.122.2</param>
                <param name="plc_ams_net_id">192.168.122.2.1.1</param>
                <param name="plc_ams_port">851</param>
                <param name="local_ams_net_id">192.168.122.1.1.1</param>
            </xacro:unless>
        </hardware>

        <!-- These interfaces can be declared for any component - joint, gpio or sensor -->

        <gpio name="robot_io">
            <xacro:command_interface_PLC name="joggingEnabled" PLC_symbol="MAIN.joggingEnabled" PLC_type="BOOL" initial_value="1"/>
            <xacro:command_interface_PLC name="myRobotMode" PLC_symbol="MAIN.myRobotMode" PLC_type="UDINT" initial_value="5"/>
            <xacro:command_interface_PLC name="motionType" PLC_symbol="MAIN.motionType" PLC_type="USINT" initial_value="1"/>
            <xacro:command_interface_PLC name="commandPos_0" PLC_symbol="MAIN.commandPos" PLC_type="BOOL" n_elements="2" index="0" initial_value="1"/>
            <xacro:command_interface_PLC name="commandPos_1" PLC_symbol="MAIN.commandPos" PLC_type="BOOL" n_elements="2" index="1" initial_value="1"/>
        </gpio>
        <sensor name="robot_sensor">
            <xacro:state_interface_PLC name="statusError" PLC_symbol="MAIN.statusError" PLC_type="BOOL"/>
            <xacro:state_interface_PLC name="batteryVoltage" PLC_symbol="MAIN.batteryVoltage" PLC_type="REAL"/>
            <xacro:state_interface_PLC name="currentPos_0" PLC_symbol="MAIN.currentPos" PLC_type="LREAL" n_elements="2" index="0" />
            <xacro:state_interface_PLC name="currentPos_1" PLC_symbol="MAIN.currentPos" PLC_type="LREAL" n_elements="2" index="1" />
            <xacro:state_interface_PLC name="pickCount" PLC_symbol="MAIN.pickCount" PLC_type="UINT" />
            <xacro:state_interface_PLC name="currentTemperature" PLC_symbol="MAIN.currentTemperature" PLC_type="INT" />
            <xacro:state_interface_PLC name="ledMap" PLC_symbol="MAIN.ledMap" PLC_type="BYTE"/>


            <!-- In this example, these mirror command interfaces, so we can monitor if the variables are set correctly. -->
            <xacro:state_interface_PLC name="joggingEnabled" PLC_symbol="MAIN.joggingEnabled" PLC_type="BOOL" />
            <xacro:state_interface_PLC name="myRobotMode" PLC_symbol="MAIN.myRobotMode" PLC_type="UDINT"/>
            <xacro:state_interface_PLC name="motionType" PLC_symbol="MAIN.motionType" PLC_type="UDINT"/>
            <xacro:state_interface_PLC name="commandPos_0" PLC_symbol="MAIN.commandPos" PLC_type="BOOL" n_elements="2" index="0" />
            <xacro:state_interface_PLC name="commandPos_1" PLC_symbol="MAIN.commandPos" PLC_type="BOOL" n_elements="2" index="1" />
        </sensor>

        </ros2_control>
    </xacro:macro>
</robot>
