<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="beckhoff_bot">

  <!-- Use this if parameters are set from the launch file, otherwise delete -->

  <xacro:arg name="mock_hardware" default="false"/>
  <xacro:arg name="mock_sensor_commands" default="false"/>

  <xacro:include filename="$(find beckhoff_ads_bringup)/urdf/beckhoff_bot/beckhoff_bot_macro.xacro"/>
  <xacro:include filename="$(find beckhoff_ads_bringup)/urdf/beckhoff_bot/beckhoff_bot_macro.ros2_control.xacro"/>

  <!-- create link fixed to the "world" -->
  <link name="world"/>
  <!-- Some dummy robot URDF for testing -->
  <xacro:beckhoff_bot prefix="" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0"/>          
  </xacro:beckhoff_bot>

  <xacro:beckhoff_bot_ros2_control
    name="beckhoff_bot"
    mock_hardware="$(arg mock_hardware)"
    mock_sensor_commands="$(arg mock_sensor_commands)"/>

</robot>
